body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: #fff;
  color: #434455;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.page-nav {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts {
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}
.main-page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}
.main-page-container {
  background: #2e2f42;
}
.button {
  background: #4d5ae5;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-properties-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.our-team-container {
  background-color: #f4f4fd;
}
.our-team-image {
  background-color: #ffffff;
}
.image-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.image-descr {
  letter-spacing: 0.02em;
  color: #434455;
}
.button:hover,
.button:focus {
  background: #404bbf;
}
.page-nav a:hover,
.page-nav a:focus {
  color: #404bbf;
}
.page-nav-first:active {
  text-decoration: underline;
}
.page-nav-first {
  color: #2e2f42;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.page-span {
  color: #2e2f42;
}
.page-footer-span {
  color: #f4f4fd;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.nav-address {
  font-style: normal;
}
.page-footer {
  background-color: #2e2f42;
}
.footer-paragraph {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
